// Bootstrap variables
$text-color:                $color20 !default;
$link-color:                $color20 !default;
$link-hover-color:          $color20 !default;
$input-color-placeholder:   $color20 !default;
$font-size-base:            16px !default;
//$font-family-base:        $lato !default;

// Path framework
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
